
// COMPANY COLORS //

/* Primary Colors*/
$bg-color-primary: #f2f2f2;
$text-color-primary: #171717;

$primary-white: #ffffff;

/* Btn Colors */
$btn-bg-color: #516152;
$btn-hover: #111;

/* Sale Color */ 
$sale-highlight-color: #6ff857;

